asttokens==2.4.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
executing==2.1.0
fillpdf==0.7.3
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
ipdb==0.13.13
ipython==8.27.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
parso==0.8.4
pdf2image==1.17.0
pdfrw2==0.5.0
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
requests==2.32.3
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.4
